<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title mdl-card--expand mdl-card--border">
      <h1 class="mdl-card__title-text">{{contact.name}}</h1>
    </div>
    <h4 class="mdl-cell mdl-cell--12-col">Information</h4>

    <div class="mdl-cell mdl-cell--2-col">
      <i class="material-icons">email</i>
    </div>
    <div class="mdl-cell mdl-cell--10-col">
      <span>{{contact.email}}</span>
    </div>

    <div class="mdl-cell mdl-cell--2-col">
      <i class="material-icons">phone</i>
    </div>
    <div class="mdl-cell mdl-cell--10-col">
      <span>{{contact.cellphone}}</span>
    </div>

    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--3-offset-phone">
      <p>{{contact.notes}}</p>
    </div>

  </div>
</div>
